In [17]:
import duckdb
import pandas as pd

# Import jupysql Jupyter extension to create SQL cells
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [18]:
# % sign means running non python code. Single % is one line %% is more than one line
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

In [19]:
%sql duckdb:///:memory:

In [20]:
%%sql

INSTALL httpfs;
LOAD httpfs;

Empty DataFrame
Columns: [Success]
Index: []

In [21]:
%%sql

SELECT * FROM 'https://open.gishub.org/data/duckdb/cities.csv';

        id            name country  latitude  longitude  population
0        1           Bombo     UGA   0.58330   32.53330       75000
1        2     Fort Portal     UGA   0.67100   30.27500       42670
2        3         Potenza     ITA  40.64200   15.79900       69060
3        4      Campobasso     ITA  41.56300   14.65600       50762
4        5           Aosta     ITA  45.73700    7.31500       34062
...    ...             ...     ...       ...        ...         ...
1244  1245  Rio de Janeiro     BRA -22.92502  -43.22502    11748000
1245  1246       Sao Paulo     BRA -23.55868  -46.62502    18845000
1246  1247          Sydney     AUS -33.92001  151.18518     4630000
1247  1248       Singapore     SGP   1.29303  103.85582     5183700
1248  1249       Hong Kong     CHN  22.30498  114.18501     7206000

[1249 rows x 6 columns]

In [22]:
%%sql

CREATE TABLE stations AS SELECT * FROM "https://open.gishub.org/data/duckdb/nyc_subway_stations.tsv";

RuntimeError: (duckdb.duckdb.CatalogException) Catalog Error: Table with name "stations" already exists!
[SQL: CREATE TABLE stations AS SELECT * FROM "https://open.gishub.org/data/duckdb/nyc_subway_stations.tsv";]
(Background on this error at: https://sqlalche.me/e/20/f405)
If you need help solving this issue, send us a message: https://ploomber.io/community

In [23]:
%%sql

CREATE TABLE stations AS SELECT * FROM 'https://open.gishub.org/data/duckdb/nyc_subway_stations.tsv';

RuntimeError: (duckdb.duckdb.CatalogException) Catalog Error: Table with name "stations" already exists!
[SQL: CREATE TABLE stations AS SELECT * FROM 'https://open.gishub.org/data/duckdb/nyc_subway_stations.tsv';]
(Background on this error at: https://sqlalche.me/e/20/f405)
If you need help solving this issue, send us a message: https://ploomber.io/community

In [1]:
%%sql

CREATE TABLE hoods AS SELECT * FROM "https://github.com/opengeos/data/blob/main/duckdb/nyc_neighborhoods.tsv";

UsageError: Cell magic `%%sql` not found.