# Lab 9

In this lab, you will explore spatial data analysis using Python and DuckDB. You'll work with real-world datasets, ranging from global country statistics to specific building datasets. This will give you a practical understanding of handling, analyzing, and visualizing spatial data.

**Submission requirements**

1. **HTML Version:** Submit an HTML version of your notebook. Ensure all code outputs are visible. (Export via VS Code: Notebook > Export > HTML).
2. **Colab Link:** Provide a link to your notebook hosted on Google Colab for interactive review.

## Setup

Ensure you have DuckDB and Leafmap installed. Run the following command if needed:

In [ ]:
# %pip install duckdb leafmap

In [2]:
import duckdb
import leafmap

## Question 1

Connect to a duckdb database and install the `httpfs` and `spatial` extensions

In [3]:
# Add your code here
con = duckdb.connect()
con.install_extension("httpfs")
con.load_extension("httpfs")
con.install_extension("spatial")
con.load_extension("spatial")

## Question 2

Download the [Admin 0 – Countries](https://www.naturalearthdata.com/downloads/10m-cultural-vectors/) vector dataset from Natural Earth using the `leafmap.download_file()` function.

In [4]:
# Add your code here
url = "https://www.naturalearthdata.com/http//www.naturalearthdata.com/download/10m/cultural/ne_10m_admin_0_countries.zip"
leafmap.download_file(url, unzip=True)

Downloading...
From: https://www.naturalearthdata.com/http//www.naturalearthdata.com/download/10m/cultural/ne_10m_admin_0_countries.zip
To: c:\Users\vance\Downloads\geog-414\book\labs\ne_10m_admin_0_countries.zip
100%|██████████| 4.93M/4.93M [00:00<00:00, 6.24MB/s]

Extracting files...

'c:\\Users\\vance\\Downloads\\geog-414\\book\\labs\\ne_10m_admin_0_countries.zip'

## Question 3

Create a new table in your database called `countries` and load the data from the downloaded country shapefile into it.

In [5]:
# Add your code here
con.sql("SELECT * FROM ST_Read('C:/Users/vance/Downloads/geog-414/book/labs/ne_10m_admin_0_countries.shp')")

┌─────────────────┬───────────┬───────────┬───┬──────────────┬────────────────────┬──────────────────────┐
│   featurecla    │ scalerank │ LABELRANK │ … │  FCLASS_BD   │     FCLASS_UA      │         geom         │
│     varchar     │   int32   │   int32   │   │   varchar    │      varchar       │       geometry       │
├─────────────────┼───────────┼───────────┼───┼──────────────┼────────────────────┼──────────────────────┤
│ Admin-0 country │         0 │         2 │ … │ NULL         │ NULL               │ MULTIPOLYGON (((11…  │
│ Admin-0 country │         0 │         3 │ … │ NULL         │ NULL               │ MULTIPOLYGON (((11…  │
│ Admin-0 country │         0 │         2 │ … │ NULL         │ NULL               │ MULTIPOLYGON (((-6…  │
│ Admin-0 country │         0 │         3 │ … │ NULL         │ NULL               │ POLYGON ((-69.5100…  │
│ Admin-0 country │         0 │         2 │ … │ NULL         │ NULL               │ MULTIPOLYGON (((-6…  │
│ Admin-0 country │         0 │         2 │ … │ NULL         │ NULL               │ MULTIPOLYGON (((-6…  │
│ Admin-0 country │         3 │         3 │ … │ NULL         │ Admin-0 dependency │ POLYGON ((33.78093…  │
│ Admin-0 country │         1 │         5 │ … │ NULL         │ NULL               │ MULTIPOLYGON (((33…  │
│ Admin-0 country │         0 │         2 │ … │ NULL         │ NULL               │ MULTIPOLYGON (((77…  │
│ Admin-0 country │         0 │         2 │ … │ NULL         │ NULL               │ MULTIPOLYGON (((78…  │
│        ·        │         · │         · │ · │  ·           │  ·                 │          ·           │
│        ·        │         · │         · │ · │  ·           │  ·                 │          ·           │
│        ·        │         · │         · │ · │  ·           │  ·                 │          ·           │
│ Admin-0 country │         5 │         6 │ … │ NULL         │ NULL               │ MULTIPOLYGON (((14…  │
│ Admin-0 country │         5 │         4 │ … │ NULL         │ NULL               │ MULTIPOLYGON (((50…  │
│ Admin-0 country │         6 │         5 │ … │ NULL         │ NULL               │ POLYGON ((154.3912…  │
│ Admin-0 country │         6 │         6 │ … │ NULL         │ NULL               │ MULTIPOLYGON (((11…  │
│ Admin-0 country │         6 │         5 │ … │ NULL         │ NULL               │ POLYGON ((-109.212…  │
│ Admin-0 country │         0 │         4 │ … │ NULL         │ NULL               │ MULTIPOLYGON (((11…  │
│ Admin-0 country │         6 │         5 │ … │ NULL         │ NULL               │ POLYGON ((123.5970…  │
│ Admin-0 country │         6 │         8 │ … │ Unrecognized │ Unrecognized       │ POLYGON ((-79.9892…  │
│ Admin-0 country │         6 │         5 │ … │ Unrecognized │ Unrecognized       │ POLYGON ((-78.6370…  │
│ Admin-0 country │         6 │         6 │ … │ NULL         │ NULL               │ POLYGON ((117.7538…  │
├─────────────────┴───────────┴───────────┴───┴──────────────┴────────────────────┴──────────────────────┤
│ 258 rows (20 shown)                                                              169 columns (6 shown) │
└────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [6]:
con.sql(
    """
CREATE TABLE IF NOT EXISTS countries AS
SELECT * FROM 'C:/Users/vance/Downloads/geog-414/book/labs/ne_10m_admin_0_countries.shp'
"""
)

In [8]:
con.sql("SELECT * FROM countries")

┌─────────────────┬───────────┬───────────┬───┬──────────────┬────────────────────┬──────────────────────┐
│   featurecla    │ scalerank │ LABELRANK │ … │  FCLASS_BD   │     FCLASS_UA      │         geom         │
│     varchar     │   int32   │   int32   │   │   varchar    │      varchar       │       geometry       │
├─────────────────┼───────────┼───────────┼───┼──────────────┼────────────────────┼──────────────────────┤
│ Admin-0 country │         0 │         2 │ … │ NULL         │ NULL               │ MULTIPOLYGON (((11…  │
│ Admin-0 country │         0 │         3 │ … │ NULL         │ NULL               │ MULTIPOLYGON (((11…  │
│ Admin-0 country │         0 │         2 │ … │ NULL         │ NULL               │ MULTIPOLYGON (((-6…  │
│ Admin-0 country │         0 │         3 │ … │ NULL         │ NULL               │ POLYGON ((-69.5100…  │
│ Admin-0 country │         0 │         2 │ … │ NULL         │ NULL               │ MULTIPOLYGON (((-6…  │
│ Admin-0 country │         0 │         2 │ … │ NULL         │ NULL               │ MULTIPOLYGON (((-6…  │
│ Admin-0 country │         3 │         3 │ … │ NULL         │ Admin-0 dependency │ POLYGON ((33.78093…  │
│ Admin-0 country │         1 │         5 │ … │ NULL         │ NULL               │ MULTIPOLYGON (((33…  │
│ Admin-0 country │         0 │         2 │ … │ NULL         │ NULL               │ MULTIPOLYGON (((77…  │
│ Admin-0 country │         0 │         2 │ … │ NULL         │ NULL               │ MULTIPOLYGON (((78…  │
│        ·        │         · │         · │ · │  ·           │  ·                 │          ·           │
│        ·        │         · │         · │ · │  ·           │  ·                 │          ·           │
│        ·        │         · │         · │ · │  ·           │  ·                 │          ·           │
│ Admin-0 country │         5 │         6 │ … │ NULL         │ NULL               │ MULTIPOLYGON (((14…  │
│ Admin-0 country │         5 │         4 │ … │ NULL         │ NULL               │ MULTIPOLYGON (((50…  │
│ Admin-0 country │         6 │         5 │ … │ NULL         │ NULL               │ POLYGON ((154.3912…  │
│ Admin-0 country │         6 │         6 │ … │ NULL         │ NULL               │ MULTIPOLYGON (((11…  │
│ Admin-0 country │         6 │         5 │ … │ NULL         │ NULL               │ POLYGON ((-109.212…  │
│ Admin-0 country │         0 │         4 │ … │ NULL         │ NULL               │ MULTIPOLYGON (((11…  │
│ Admin-0 country │         6 │         5 │ … │ NULL         │ NULL               │ POLYGON ((123.5970…  │
│ Admin-0 country │         6 │         8 │ … │ Unrecognized │ Unrecognized       │ POLYGON ((-79.9892…  │
│ Admin-0 country │         6 │         5 │ … │ Unrecognized │ Unrecognized       │ POLYGON ((-78.6370…  │
│ Admin-0 country │         6 │         6 │ … │ NULL         │ NULL               │ POLYGON ((117.7538…  │
├─────────────────┴───────────┴───────────┴───┴──────────────┴────────────────────┴──────────────────────┤
│ 258 rows (20 shown)                                                              169 columns (6 shown) │
└────────────────────────────────────────────────────────────────────────────────────────────────────────┘

Calculate the total population of all countries in the database using the `POP_EST` column.

In [9]:
# Add your code here
con.sql("SELECT POP_EST FROM countries")

┌──────────────┐
│   POP_EST    │
│    double    │
├──────────────┤
│  270625568.0 │
│   31949777.0 │
│   18952038.0 │
│   11513100.0 │
│   32510453.0 │
│   44938712.0 │
│       7850.0 │
│    1198575.0 │
│ 1366417754.0 │
│ 1397715000.0 │
│         ·    │
│         ·    │
│         ·    │
│      57216.0 │
│    1641172.0 │
│          4.0 │
│        100.0 │
│          0.0 │
│     640445.0 │
│          0.0 │
│          0.0 │
│          0.0 │
│          0.0 │
├──────────────┤
│   258 rows   │
│  (20 shown)  │
└──────────────┘

In [12]:
con.sql("SELECT SUM(POP_EST) FROM countries")

┌──────────────┐
│ sum(POP_EST) │
│    double    │
├──────────────┤
│ 7677059722.3 │
└──────────────┘

Show the top 10 countries with the largest population.

In [16]:
# Add your code here
con.sql("SELECT NAME, POP_EST FROM countries LIMIT 10")

┌───────────┬──────────────┐
│   NAME    │   POP_EST    │
│  varchar  │    double    │
├───────────┼──────────────┤
│ Indonesia │  270625568.0 │
│ Malaysia  │   31949777.0 │
│ Chile     │   18952038.0 │
│ Bolivia   │   11513100.0 │
│ Peru      │   32510453.0 │
│ Argentina │   44938712.0 │
│ Dhekelia  │       7850.0 │
│ Cyprus    │    1198575.0 │
│ India     │ 1366417754.0 │
│ China     │ 1397715000.0 │
├───────────┴──────────────┤
│ 10 rows        2 columns │
└──────────────────────────┘

Select countries in Europe with a population greater than 100 million and order them by population in descending order.

In [34]:
# Add your code here
con.sql(
    """
    SELECT NAME, POP_EST  FROM countries WHERE SUBREGION='Western Europe'
    AND POP_EST>1000000
"""
)

┌─────────────┬────────────┐
│    NAME     │  POP_EST   │
│   varchar   │   double   │
├─────────────┼────────────┤
│ France      │ 67059887.0 │
│ Germany     │ 83132799.0 │
│ Belgium     │ 11484055.0 │
│ Austria     │  8877067.0 │
│ Switzerland │  8574832.0 │
│ Netherlands │ 17332850.0 │
└─────────────┴────────────┘

Save the results of the previous query as a new table called `europe`.

In [35]:
# Add your code here
con.sql(
    """
SELECT * FROM (
    SELECT NAME, POP_EST
    FROM countries
    WHERE SUBREGION='Western Europe' AND POP_EST > 1000000
) AS europe
ORDER BY POP_EST DESC
"""
)

┌─────────────┬────────────┐
│    NAME     │  POP_EST   │
│   varchar   │   double   │
├─────────────┼────────────┤
│ Germany     │ 83132799.0 │
│ France      │ 67059887.0 │
│ Netherlands │ 17332850.0 │
│ Belgium     │ 11484055.0 │
│ Austria     │  8877067.0 │
│ Switzerland │  8574832.0 │
└─────────────┴────────────┘

Export the `europe` table as a GeoJSON file.

In [41]:
# Add your code here
con.sql(
    """
CREATE TABLE europe AS SELECT * FROM (
    SELECT NAME, POP_EST
    FROM countries
    WHERE SUBREGION='Western Europe' AND POP_EST > 1000000
) AS europe
ORDER BY POP_EST DESC
"""
)

In [43]:
con.sql("COPY europe TO 'europe.json'")

## Question 4

Create a table called `text_zones` and load the data from the [taxi_zones.parquet](https://beta.source.coop/cholmes/nyc-taxi-zones/taxi_zones.parquet) into it.

In [50]:
# Add your code here
con.read_parquet('https://data.source.coop/cholmes/nyc-taxi-zones/taxi_zones.parquet')

┌──────────┬────────────────┬────────────────┬───┬────────────┬───────────────┬──────────────────────┐
│ OBJECTID │   Shape_Leng   │   Shape_Area   │ … │ LocationID │    borough    │       geometry       │
│  int32   │ decimal(19,11) │ decimal(19,11) │   │   int32    │    varchar    │         blob         │
├──────────┼────────────────┼────────────────┼───┼────────────┼───────────────┼──────────────────────┤
│        1 │  0.11635745319 │  0.00078230679 │ … │          1 │ EWR           │ \x01\x03\x00\x00\x…  │
│        2 │  0.43346966679 │  0.00486634038 │ … │          2 │ Queens        │ \x01\x06\x00\x00\x…  │
│        3 │  0.08434110590 │  0.00031441416 │ … │          3 │ Bronx         │ \x01\x03\x00\x00\x…  │
│        4 │  0.04356652709 │  0.00011187195 │ … │          4 │ Manhattan     │ \x01\x03\x00\x00\x…  │
│        5 │  0.09214648986 │  0.00049795749 │ … │          5 │ Staten Island │ \x01\x03\x00\x00\x…  │
│        6 │  0.15049054252 │  0.00060646098 │ … │          6 │ Staten Island │ \x01\x03\x00\x00\x…  │
│        7 │  0.10741717112 │  0.00038978799 │ … │          7 │ Queens        │ \x01\x03\x00\x00\x…  │
│        8 │  0.02759069116 │  0.00002658772 │ … │          8 │ Queens        │ \x01\x03\x00\x00\x…  │
│        9 │  0.09978409247 │  0.00033844380 │ … │          9 │ Queens        │ \x01\x03\x00\x00\x…  │
│       10 │  0.09983947942 │  0.00043582382 │ … │         10 │ Queens        │ \x01\x03\x00\x00\x…  │
│        · │        ·       │        ·       │ · │          · │   ·           │          ·           │
│        · │        ·       │        ·       │ · │          · │   ·           │          ·           │
│        · │        ·       │        ·       │ · │          · │   ·           │          ·           │
│      254 │  0.08588637549 │  0.00036004022 │ … │        254 │ Bronx         │ \x01\x03\x00\x00\x…  │
│      255 │  0.06238419977 │  0.00017230918 │ … │        255 │ Brooklyn      │ \x01\x03\x00\x00\x…  │
│      256 │  0.06791496696 │  0.00016861110 │ … │        256 │ Brooklyn      │ \x01\x03\x00\x00\x…  │
│      257 │  0.05866902598 │  0.00013890947 │ … │        257 │ Brooklyn      │ \x01\x03\x00\x00\x…  │
│      258 │  0.08901337877 │  0.00036620962 │ … │        258 │ Queens        │ \x01\x03\x00\x00\x…  │
│      259 │  0.12675030519 │  0.00039455249 │ … │        259 │ Bronx         │ \x01\x03\x00\x00\x…  │
│      260 │  0.13351415464 │  0.00042234533 │ … │        260 │ Queens        │ \x01\x03\x00\x00\x…  │
│      261 │  0.02712045636 │  0.00003434232 │ … │        261 │ Manhattan     │ \x01\x03\x00\x00\x…  │
│      262 │  0.04906362315 │  0.00012233027 │ … │        262 │ Manhattan     │ \x01\x06\x00\x00\x…  │
│      263 │  0.03701662530 │  0.00006576977 │ … │        263 │ Manhattan     │ \x01\x03\x00\x00\x…  │
├──────────┴────────────────┴────────────────┴───┴────────────┴───────────────┴──────────────────────┤
│ 263 rows (20 shown)                                                            7 columns (6 shown) │
└────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [57]:
con.sql(
    """
CREATE TABLE IF NOT EXISTS taxi_zones AS
SELECT * FROM 'https://data.source.coop/cholmes/nyc-taxi-zones/taxi_zones.parquet'
"""
)

In [58]:
con.sql('FROM taxi_zones')

┌──────────┬────────────────┬────────────────┬───┬────────────┬───────────────┬──────────────────────┐
│ OBJECTID │   Shape_Leng   │   Shape_Area   │ … │ LocationID │    borough    │       geometry       │
│  int32   │ decimal(19,11) │ decimal(19,11) │   │   int32    │    varchar    │         blob         │
├──────────┼────────────────┼────────────────┼───┼────────────┼───────────────┼──────────────────────┤
│        1 │  0.11635745319 │  0.00078230679 │ … │          1 │ EWR           │ \x01\x03\x00\x00\x…  │
│        2 │  0.43346966679 │  0.00486634038 │ … │          2 │ Queens        │ \x01\x06\x00\x00\x…  │
│        3 │  0.08434110590 │  0.00031441416 │ … │          3 │ Bronx         │ \x01\x03\x00\x00\x…  │
│        4 │  0.04356652709 │  0.00011187195 │ … │          4 │ Manhattan     │ \x01\x03\x00\x00\x…  │
│        5 │  0.09214648986 │  0.00049795749 │ … │          5 │ Staten Island │ \x01\x03\x00\x00\x…  │
│        6 │  0.15049054252 │  0.00060646098 │ … │          6 │ Staten Island │ \x01\x03\x00\x00\x…  │
│        7 │  0.10741717112 │  0.00038978799 │ … │          7 │ Queens        │ \x01\x03\x00\x00\x…  │
│        8 │  0.02759069116 │  0.00002658772 │ … │          8 │ Queens        │ \x01\x03\x00\x00\x…  │
│        9 │  0.09978409247 │  0.00033844380 │ … │          9 │ Queens        │ \x01\x03\x00\x00\x…  │
│       10 │  0.09983947942 │  0.00043582382 │ … │         10 │ Queens        │ \x01\x03\x00\x00\x…  │
│        · │        ·       │        ·       │ · │          · │   ·           │          ·           │
│        · │        ·       │        ·       │ · │          · │   ·           │          ·           │
│        · │        ·       │        ·       │ · │          · │   ·           │          ·           │
│      254 │  0.08588637549 │  0.00036004022 │ … │        254 │ Bronx         │ \x01\x03\x00\x00\x…  │
│      255 │  0.06238419977 │  0.00017230918 │ … │        255 │ Brooklyn      │ \x01\x03\x00\x00\x…  │
│      256 │  0.06791496696 │  0.00016861110 │ … │        256 │ Brooklyn      │ \x01\x03\x00\x00\x…  │
│      257 │  0.05866902598 │  0.00013890947 │ … │        257 │ Brooklyn      │ \x01\x03\x00\x00\x…  │
│      258 │  0.08901337877 │  0.00036620962 │ … │        258 │ Queens        │ \x01\x03\x00\x00\x…  │
│      259 │  0.12675030519 │  0.00039455249 │ … │        259 │ Bronx         │ \x01\x03\x00\x00\x…  │
│      260 │  0.13351415464 │  0.00042234533 │ … │        260 │ Queens        │ \x01\x03\x00\x00\x…  │
│      261 │  0.02712045636 │  0.00003434232 │ … │        261 │ Manhattan     │ \x01\x03\x00\x00\x…  │
│      262 │  0.04906362315 │  0.00012233027 │ … │        262 │ Manhattan     │ \x01\x06\x00\x00\x…  │
│      263 │  0.03701662530 │  0.00006576977 │ … │        263 │ Manhattan     │ \x01\x03\x00\x00\x…  │
├──────────┴────────────────┴────────────────┴───┴────────────┴───────────────┴──────────────────────┤
│ 263 rows (20 shown)                                                            7 columns (6 shown) │
└────────────────────────────────────────────────────────────────────────────────────────────────────┘

Find out the unique values in the `borough` column and order them alphabetically.

In [63]:
# Add your code here
con.sql("SELECT DISTINCT borough FROM taxi_zones ORDER BY borough")

┌───────────────┐
│    borough    │
│    varchar    │
├───────────────┤
│ Bronx         │
│ Brooklyn      │
│ EWR           │
│ Manhattan     │
│ Queens        │
│ Staten Island │
└───────────────┘

Export the `text_zones` table as a parquet file.

In [65]:
# Add your code here
con.sql("COPY taxi_zones TO 'taxi_zones.parquet' (FORMAT PARQUET)")

## Question 5

Explore the [Google Open Buildings](https://beta.source.coop/cholmes/google-open-buildings/v2/geoparquet-admin1/) and select a country of your choice with relatively small number of buildings (i.e., small file size). Get the three character country code and replace `[COUNTRY_NAME]` in the following path with the country code. Use it to load all the parquet files for the selected country into a new table called `buildings`.

`s3://us-west-2.opendata.source.coop/google-research-open-buildings/v2/geoparquet-admin1/country=[COUNTRY_NAME]/*.parquet`

In [66]:
# Add your code here
# con.sql('s3://us-west-2.opendata.source.coop/google-research-open-buildings/v2/geoparquet-admin1/country=AGO/*.parquet')

con.sql(
    """
CREATE TABLE IF NOT EXISTS buildings AS
SELECT * FROM 's3://us-west-2.opendata.source.coop/google-research-open-buildings/v2/geoparquet-admin1/country=AGO/*.parquet'
"""
)

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

Find out the number of buildings in the selected country.

In [67]:
# Add your code here
con.sql('FROM buildings')

┌─────────┬─────────┬────────────────┬────────────┬────────────────┬───────────────────────────────────────────────────┐
│ country │ admin_1 │ area_in_meters │ confidence │ full_plus_code │                     geometry                      │
│ varchar │ varchar │     double     │   double   │    varchar     │                       blob                        │
├─────────┼─────────┼────────────────┼────────────┼────────────────┼───────────────────────────────────────────────────┤
│ AGO     │ Bengo   │         9.7462 │     0.6895 │ 6F3M3R9J+8MFV  │ \x01\x03\x00\x00\x00\x01\x00\x00\x00\x05\x00\x0…  │
│ AGO     │ Bengo   │        14.5865 │     0.6915 │ 6F3M3R9J+9R97  │ \x01\x03\x00\x00\x00\x01\x00\x00\x00\x05\x00\x0…  │
│ AGO     │ Bengo   │        11.1536 │     0.6115 │ 6F3M3RFQ+V5P9  │ \x01\x03\x00\x00\x00\x01\x00\x00\x00\x05\x00\x0…  │
│ AGO     │ Bengo   │        66.1149 │     0.7327 │ 6F3M3V99+GX7Q  │ \x01\x03\x00\x00\x00\x01\x00\x00\x00\x07\x00\x0…  │
│ AGO     │ Bengo   │         17.532 │     0.6087 │ 6F3M3VC3+GRC4  │ \x01\x03\x00\x00\x00\x01\x00\x00\x00\x05\x00\x0…  │
│ AGO     │ Bengo   │        14.0424 │     0.7287 │ 6F3M3VC3+GRFQ  │ \x01\x03\x00\x00\x00\x01\x00\x00\x00\x05\x00\x0…  │
│ AGO     │ Bengo   │        27.7694 │     0.7456 │ 6F3M3VC3+JR62  │ \x01\x03\x00\x00\x00\x01\x00\x00\x00\x05\x00\x0…  │
│ AGO     │ Bengo   │        19.2294 │     0.7218 │ 6F3M3VC3+JWP6  │ \x01\x03\x00\x00\x00\x01\x00\x00\x00\x05\x00\x0…  │
│ AGO     │ Bengo   │        15.2001 │     0.6755 │ 6F3M3VC3+MPH5  │ \x01\x03\x00\x00\x00\x01\x00\x00\x00\x05\x00\x0…  │
│ AGO     │ Bengo   │        35.5994 │     0.7754 │ 6F3M3VC3+PMW7  │ \x01\x03\x00\x00\x00\x01\x00\x00\x00\x05\x00\x0…  │
│  ·      │   ·     │           ·    │        ·   │       ·        │                         ·                         │
│  ·      │   ·     │           ·    │        ·   │       ·        │                         ·                         │
│  ·      │   ·     │           ·    │        ·   │       ·        │                         ·                         │
│ AGO     │ Bengo   │        58.4777 │     0.7819 │ 6F3M7C4H+5VP3  │ \x01\x03\x00\x00\x00\x01\x00\x00\x00\x05\x00\x0…  │
│ AGO     │ Bengo   │         44.433 │     0.7452 │ 6F3M7C4H+5W3V  │ \x01\x03\x00\x00\x00\x01\x00\x00\x00\x05\x00\x0…  │
│ AGO     │ Bengo   │        46.6477 │     0.7153 │ 6F3M7C4H+5W99  │ \x01\x03\x00\x00\x00\x01\x00\x00\x00\x07\x00\x0…  │
│ AGO     │ Bengo   │        24.1115 │      0.771 │ 6F3M7C4H+5WFG  │ \x01\x03\x00\x00\x00\x01\x00\x00\x00\x05\x00\x0…  │
│ AGO     │ Bengo   │        23.1526 │     0.7152 │ 6F3M7C4H+5WHP  │ \x01\x03\x00\x00\x00\x01\x00\x00\x00\x05\x00\x0…  │
│ AGO     │ Bengo   │        11.4402 │     0.6034 │ 6F3M7C4H+5X4X  │ \x01\x03\x00\x00\x00\x01\x00\x00\x00\x05\x00\x0…  │
│ AGO     │ Bengo   │       126.1814 │     0.7721 │ 6F3M7C4H+665H  │ \x01\x03\x00\x00\x00\x01\x00\x00\x00\x05\x00\x0…  │
│ AGO     │ Bengo   │       130.4247 │      0.639 │ 6F3M7C4H+667R  │ \x01\x03\x00\x00\x00\x01\x00\x00\x00\x07\x00\x0…  │
│ AGO     │ Bengo   │        56.1967 │     0.8478 │ 6F3M7C4H+6RGW  │ \x01\x03\x00\x00\x00\x01\x00\x00\x00\x05\x00\x0…  │
│ AGO     │ Bengo   │         80.037 │      0.802 │ 6F3M7C4H+6VH5  │ \x01\x03\x00\x00\x00\x01\x00\x00\x00\x09\x00\x0…  │
├─────────┴─────────┴────────────────┴────────────┴────────────────┴───────────────────────────────────────────────────┤
│ ? rows (>9999 rows, 20 shown)                                                                              6 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [69]:
con.sql("SELECT COUNT (admin_1) FROM buildings")

┌────────────────┐
│ count(admin_1) │
│     int64      │
├────────────────┤
│       11620543 │
└────────────────┘

Find out the total area of all buildings in the selected country.

In [70]:
# Add your code here
con.sql("SELECT SUM(area_in_meters) from buildings")

┌─────────────────────┐
│ sum(area_in_meters) │
│       double        │
├─────────────────────┤
│   520251749.5156959 │
└─────────────────────┘

Export the `buildings` table as a GeoPackage file.

In [73]:
# Add your code here. This is a massive file so I commented it out
# con.sql("COPY buildings TO 'buildings.gpkg' WITH (FORMAT GDAL, DRIVER 'GPKG')")