In [1]:
# import ee and geemap define map
import ee 
import geemap
geemap.ee_initialize()
Map = geemap.Map()
Map

Map(center=[20, 0], controls=(WidgetControl(options=['position', 'transparent_bg'], widget=HBox(children=(Togg…

In [9]:
# Add global temperature data to map along with visParams
dataset = ee.ImageCollection('NOAA/GFS0P25') \
                  .filter(ee.Filter.date('2023-06-28', '2023-06-29'))
temperatureAboveGround = dataset.select('temperature_2m_above_ground')
visParams = {
  'min': -40.0,
  'max': 35.0,
  'palette': ['blue', 'purple', 'cyan', 'green', 'yellow', 'red'],
}
Map.setCenter(-99.46, 39.42, 4)
Map.addLayer(temperatureAboveGround, visParams, 'Temperature Above Ground')

In [3]:
# Add states FC
States = ee.FeatureCollection("TIGER/2018/States")
style = {'color': 'black', 'fillColor': '00008000'}
Map.addLayer(States.style(**style), {}, 'USA')

In [10]:
# Add temp clip to map turn off global temp layer
Temp_clip = temperatureAboveGround.mean().clip(States)
Map.addLayer(temperatureAboveGround, visParams, 'Temperature Above Ground', False)
Map.addLayer(Temp_clip, visParams, 'Temperature Above Ground USA')
Map

Map(bottom=1859.0, center=[39.42, -99.46], controls=(WidgetControl(options=['position', 'transparent_bg'], wid…

In [16]:
# Export the image to CSV, specifying scale and region.
temp_stats = 'temp_stats.csv'
geemap.zonal_stats(
    Temp_clip, States, temp_stats, statistics_type='MAXIMUM', scale=1000, return_fc=False)

Computing statistics ...
Generating URL ...
Downloading data from https://earthengine.googleapis.com/v1/projects/earthengine-legacy/tables/5b79b247f4e04a5d16013ebb1f0f455b-fa11d4d14be60429854f1f69b6f79df7:getFeatures
Please wait ...
Data downloaded to c:\Users\vance\Downloads\geog-414\temp_stats.csv

In [25]:
#Display to 10 rows of the attribute table, reverse order to see highest temperature
geemap.csv_to_df(temp_stats).sort_values('max', ascending=False).head(10)
# Arizona

,max,STATENS,GEOID,AWATER,LSAD,STUSPS,STATEFP,FUNCSTAT,INTPTLAT,DIVISION,REGION,NAME,INTPTLON,MTFCC,ALAND,system:index
50,36.880134,1779777,4,1027337603,0,AZ,4,A,34.203936,8,4,Arizona,-111.606357,G4000,294198551143,00000000000000000037
51,35.534321,1779778,6,20463871877,0,CA,6,A,37.155177,9,4,California,-119.543418,G4000,403503931312,0000000000000000000d
48,34.645326,1779793,32,2047206072,0,NV,32,A,39.331093,8,4,Nevada,-116.615147,G4000,284329506470,00000000000000000027
40,32.656330,1779801,48,19006305260,0,TX,48,A,31.434703,7,3,Texas,-99.281824,G4000,676653171537,00000000000000000019
41,32.251905,1102857,40,3374587997,0,OK,40,A,35.590051,7,3,Oklahoma,-97.486815,G4000,177662925723,0000000000000000001c
39,31.928340,1629543,22,23753621895,0,LA,22,A,30.863437,7,3,Louisiana,-91.798717,G4000,111897594374,00000000000000000014
44,31.636116,897535,35,728776523,0,NM,35,A,34.434684,8,4,New Mexico,-106.131618,G4000,314196306401,0000000000000000000c
45,31.227383,1455989,49,6998824394,0,UT,49,A,39.334992,8,4,Utah,-111.656333,G4000,212886221680,00000000000000000017
23,30.855853,481813,20,1344141205,0,KS,20,A,38.498546,4,2,Kansas,-98.383430,G4000,211755344060,0000000000000000002f
27,30.603340,294478,12,31361101223,0,FL,12,A,28.457430,5,3,Florida,-82.409148,G4000,138949136250,00000000000000000001